aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
discord-py-slash-command==3.0.1
discord.py==1.7.3
distlib==0.3.2
filelock==3.0.12
greenlet==1.1.1
idna==3.2
msgpack==1.0.2
multidict==5.1.0
pycodestyle==2.7.0
python-dotenv==0.15.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.3
virtualenv==20.4.7
webencodings==0.5.1
yarl==1.6.3
